.cv-container {
    padding: 20px;
    padding-top: 60px; /* Agregar espacio en la parte superior */
    font-family: 'Courier New', Courier, monospace; /* Estilo similar al código */
    background-color: #1e1e1ed7; /* Fondo oscuro */
    color: #dcdcdc; /* Texto claro */
  }
  
  .cv-content {
    text-align: left; /* Justificar a la izquierda */
    line-height: 1; /* Reducir altura de línea para ser más compacto */
  }
  
  h1 {
    font-size: 20px; /* Tamaño más pequeño para títulos */
    color: #569cd6; /* Azul para simular resaltado */
  }
  h2 {
    font-size: 20px; /* Tamaño más pequeño para títulos */
    color: #32fd186b; /* Azul para simular resaltado */
  }
  
  h3 {
    font-size: 18px; /* Tamaño más pequeño para subtítulos */
    color: #9cdcfe; /* Azul claro para subtítulos */
  }
  
  ul {
    list-style-type: disc; /* Lista con puntos */
    padding-left: 20px; /* Indentación para listas */
  }
  
  ul::before {
    content: '{'; /* Añade corchete al inicio de la lista */
  }
  
  ul::after {
    content: '}'; /* Añade corchete al final de la lista */
  }
  
  ul li {
    font-size: 14px; /* Tamaño más pequeño para dispositivos móviles */
    margin-bottom: 5px; /* Espacio entre elementos de la lista */
  }
  