/* proyectos.css */

.proyectos-container {
    padding: 20px;
  }
  
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    width: calc(33.33% - 10px); /* Para mostrar 3 tarjetas por fila */
    margin-bottom: 20px;
    box-sizing: border-box;
    /* Estilos adicionales para la tarjeta */
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .card h2 {
    margin-top: 0;
    font-size: 18px;
  }
  
  .card img {
  width: 100%; /* Esto asegura que la imagen ocupe todo el ancho de su contenedor */
  height: 150px; /* Establece una altura fija para todas las imágenes */
  object-fit: cover; /* Permite que la imagen se ajuste manteniendo su relación de aspecto */
  border-radius: 6px;
  margin-bottom: 10px;
}
  
  .card p {
    font-size: 14px;
    color: #888;
    margin-bottom: 0;
  }
  .card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra al hacer hover */
    transform: translateY(-5px); /* Elevación sutil al hacer hover */
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Transición suave */
  }
  @media screen and (max-width: 768px) {
    .card {
      width: calc(50% - 10px); /* Mostrar 2 tarjetas por fila en pantallas más pequeñas */
    }
  }
 
  
  .additional-info img {
    width: 30px; /* Ajusta el ancho según tu preferencia */
    height: 30px; /* Ajusta la altura según tu preferencia */
    margin: 5px; /* Espacio entre las imágenes */
  }