/* home.css */

.home-container {
    position: relative;
    height: 100vh;
    padding: 20px;
    display: flex;
    align-items: center;
  }
  
  .home-container img {
    width: 200px;
    height: auto; 
    transition: transform 0.3s ease-in-out;
  } 
  
  .home-container img:hover {
    transform: scale(1.3);
  }
  
  .home-content {
    /* Estilos para el contenido a la derecha de la imagen */
    margin-left: 20px; /* Espacio entre la imagen y el contenido */
    padding: 20px; /* Espaciado interno del contenido */
    font-size: 18px;
    transition: font-size 0.3s ease-in-out;
  }
  
  /* home.css */

/* Estilos para el botón de traducción */
.translate-button {
    padding: 10px 20px;
    background-color: #007bff; /* Color de fondo azul */
    color: #fff; /* Color del texto blanco */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .translate-button:hover {
    background-color: #0056b3; /* Color de fondo azul oscuro al pasar el mouse */
  }
  