.home-container {
  position: relative;
  height: 100vh;
  padding: 20px;
  display: flex;
  align-items: center;
}

.home-container img {
  width: 200px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.home-container img:hover {
  transform: scale(1.3);
}

.home-content {
  margin-left: 20px;
}

.text-box {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.144);
  border: 2px solid #67013a;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.text-box p {
  font-size: 20px; /* Texto más pequeño */
  text-align: justify; /* Justificación del texto */
  margin-bottom: 10px; /* Espaciado debajo del párrafo */
}

.translate-button {
  padding: 10px 20px;
  background-color: #e69d01f8;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.translate-button:hover {
  background-color: #eb9760f8;
}
