/* Contenedor que ocupa todo el viewport */
.fullscreen-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente */
  height: 90vh;           /* Asegura que ocupa todo el viewport */
  width: 90vw;            /* Ancho completo del viewport */
  overflow: hidden;        /* Evita que haya desplazamientos inesperados */
  margin: auto; /* Centra el contenedor en la pantalla */

}

/* Cuadro centrado */
.home-container {
  display: flex;
  justify-content: center;  /* Centra horizontalmente */
  align-items: center;      /* Centra verticalmente */
  flex-direction: column;   /* Para que los elementos estén en una columna */
  
  /* Usa unidades relativas para adaptarse al tamaño de pantalla */
  width: 30vw;  /* Ancho del cuadro */
  height: 40vh; /* Altura del cuadro */

  background-color: rgba(6, 7, 8, 0.671); /* Fondo semitransparente */
  box-shadow: 0 2px 10px #018dff; /* Sombra para el cuadro */
  border: 1px solid #569cd6; /* Borde */
  color: white;
  text-align: center;    /* Alineación del texto al centro */
}



.home-container h1 {
  font-size: 48px; /* Tamaño del encabezado h1 */
  font-weight: bold; /* Aumenta el peso del texto para mayor impacto */
}

.home-container h2 {
  font-size: 24px; /* Tamaño del encabezado h2 */
  color: #fddfdf;
}

.home-links {
  display: flex;
  gap: 20px; /* Espacio entre enlaces */
  margin-top: 20px; /* Espacio entre h2 y enlaces */
}

.home-link {
  font-size: 16px; /* Tamaño del texto */
  text-decoration: underline; /* Texto subrayado */
  color: #ffffff; /* Color blanco puro */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Sombra para resaltar el texto */
  transition: all 0.3s ease; 
}

.home-link:hover {
  transform: translateY(-3px); /* Mover el enlace hacia arriba al pasar el cursor */
  text-decoration: none; /* Quitar subrayado al pasar el cursor para resaltar el movimiento */
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7); /* Sombra más intensa en hover */
}



.home-socials {
  display: flex;
  gap: 20px; /* Espacio entre iconos */
  margin-top: 20px; /* Espacio entre los enlaces y el div de iconos */
}

.social-icon {
  width: 40px; /* Tamaño del icono */
  height: auto;
  transition: transform 0.3s ease; /* Transición suave */
}

.social-icon:hover {
  transform: scale(1.2); /* Agrandar el icono al pasar el cursor */
}

@media (max-width: 600px) {
  .home-container {
    width: 90vw;  /* Aumenta el ancho para pantallas pequeñas */
    height: 60vh; /* Aumenta la altura para pantallas pequeñas */
    margin: auto; /* Centra el contenedor en la pantalla */

  }
}