/* App.css */

.App {
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinea todo el contenido al centro */
  justify-content: center;
  text-align: center;
  
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes movePoint {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(100vw - 20px)); /* Mueve el punto a lo largo del ancho de la ventana */
  }
}

.point {
  width: 10px;
  height: 10px;
  background-color: rgb(228, 18, 18);
  position: absolute;
  border-radius: 50%;
  animation: movePoint 4s linear infinite;
  top: 60px; /* Ajusta la posición vertical del punto */
}
