/* nav.css */
.nav-container {
    width: 10%;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff00; /* Puedes ajustar el color de fondo según tus preferencias */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para un efecto visual */
  }
  
  .nav-container img {
    width: 50px; /* Ajusta el ancho según tus necesidades */
    height: auto;
    margin: 0 10px; /* Ajusta el margen según tu diseño */
    transition: transform 0.3s ease-in-out; /* Agrega una transición suave al efecto */
  }
  
  /* Estilo al pasar el cursor sobre las imágenes */
  .nav-container img:hover {
    transform: scale(1.2); /* Cambia el tamaño de la imagen al hacer hover */
  }
  